@import "../../index.scss";

.full-width {
    width: 100vw;
    height: 100%;
}

.supertext {
    font-size: 13px;
}

.landing-background {
    position: relative;
}

.heading-1 {
    font-size: 47px;
}

.landing-cta {
    @extend .heading-1;
    position: absolute;
    left: 17%;
    top: 12%;
}

.heading-primary {
    @extend .heading-1;
    color: $primary;
}

.heading-light {
    @extend .heading-1;
    color: $light;
}

.heading-darkpurple {
    @extend .heading-1;
    color: $darkPurple;
}