$primary: #FF7000;
$secondary: #333333;
$buttonHover: linear-gradient(180deg, #FFDDC2 15.6%, #FFDDC2 77.58);
$darkPurple: #695E8B;
$lightGray: #ACACAC;
$darkGray: #7C7979;
$light: #FFFFFF;
$dark: #000000;